header {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    padding-top: 10px;
    background-color: #006b6b;
    background-image: linear-gradient(160deg, #006b6b 0%, #80D0C7 50%, #ffffff 100%);
    ;

    img {
        justify-content: left;
    }
   
    }
